header {
   padding: 25px 0;
   background: #333F4F;
   text-align: center;
}

/* TODO: REMOVE THIS */
.small-screen {
   display: none;
   background: pink;
}

.header-text a {
   color: #FFF;
   font-size: 4.5rem;
   font-weight: 300;
   line-height: 150px;
   vertical-align: middle;
   text-decoration: none;
   opacity: 0;
   animation: header-fade 2.5s ease;
   animation-delay: .2s;
   animation-fill-mode: forwards;
}

@keyframes header-fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.menu {
   border-top: 5px solid #42A5F5;
   padding: 10px 0;
   margin: 0;
   background: #BBDEFB;
   text-align: center;
   box-shadow: 0 1px 3px 0px black;
}

.menu li a {
   text-decoration: none;
   color: #000;
}

.menu li {
   display: inline-block;
   font-size: 1.6em;
   font-weight: 300;
   margin: 0 15px;
}

.menu li::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   background: #000;
   transition: width .3s;
}

.menu li:hover::after {
   width: 100%;
}

.active {
   border-bottom: 1px solid;
}
