.location-container {
   margin-top: 30px;
}

.location-icon {
   width: 20px;
   height: 20px;
   position: relative;
   top: 3px;
   background: url('../images/location-icon.png');
   background-size: cover;
}

.delete-icon {
   width: 25px;
   height: 25px;
   border: none;
   position: relative;
   top: 3px;
   float: right;
   background: url('../images/delete-icon.png');
   background-size: cover;
}

.delete-icon:hover {
   cursor: pointer;
}

.location-list {
   padding: 0;
   width: 500px;
   margin: 0 auto;
}

.location-item {
   list-style-type: none;
   background: white;
   margin-bottom: 15px;
   border-radius: 3px;
   padding: 10px 25px;
   font-size: 1.2em;
   box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

.btn-container {
   text-align: center;
   margin: 55px 10px;
}

#add-location {
   outline: none;
   border: none;
   background: #333F4F;
   color: #FFF;
   border-radius: 3px;
   text-transform: uppercase;
   font-size: 1.5em;
   padding: 10px 25px;
   /* box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2); */
   box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

#add-location:hover {
   cursor: pointer;
   background: rgba(51,63,79,.9);
}