<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Bad Request</title>
   {# Stylesheets #}

   {% load static %}
   <link rel="stylesheet" href="{% static 'styles/main.css' %}" /></head>
   <link rel="stylesheet" href="{% static 'styles/bad-request.css' %}" /></head>
<body>

   <div class="bad-req-header">Oops. Something went wrong</div>
   <div class="sadface">&#9785;</div>
   
</body>
</html>