{% load static %}
<link rel="stylesheet" href="{% static 'styles/location-modal.css' %}" />
<link rel="stylesheet" href="{% static 'styles/location-modal.mobile.css' %}" />

<div id="location-modal" class="hidden">

   <div class="modal-header">Add a Location</div>

   <div class="error-msg hidden" id="error-msg">
      Invalid Location
   </div>

   <form action="/location" method="POST" class="input-container">

      {% csrf_token %}

      <input type="text" class="modal-input" name="address" placeholder="Street address">
      <input type="text" class="modal-input" name="city" placeholder="City">
      <input type="text" class="modal-input" name="province" placeholder="Province">

      <input type="submit" class="form-btn" id="save-btn" value="Save">

   </form>

</div>