{# Stylesheets #}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/locations.css' %}" />

<div class="location-container">

{% if locations %}

   <ul class="location-list">
      {% for location in locations %}
         <li class="location-item">

            <div class="location-address">{{ location.address }}</div>
            <div class="location-city">{{ location.city }}</div>
            <div class="location-province">{{ location.province }}</div>
            <input type="checkbox" class="location-box" name="location-{{ location.id }}" value="{{ location.longitude }}, {{ location.latitude }}">

      {% endfor %}
      </li>
   </ul>

{% else %}

   <div class="no-locations">
      <h1 class="location-header">You haven't added any locations</h1>
      <img class="location-icon" src="{% static 'images/location-icon.png' %}" alt="No Locations">
   </div>

{% endif %}

   <div class="btn-container">
      <button id="add-location">Add Location</button>
   </div>

   {% include "location-modal.html" %} 

</div>