{# Stylesheets #}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/locations.css' %}" />
<link rel="stylesheet" href="{% static 'styles/locations.mobile.css' %}" />

<div class="btn-container">
   <button id="add-location">Add Location</button>
</div>

<div class="location-container">

{% if locations %}

   <ul class="location-list">
      {% for location in locations %}
         <li class="location-item">

            <div class="pull-left">
               <div class="inline location-icon"></div>
               <div class="inline location-address">{{ location.address }}</div>
               <div class="inline location-city">({{ location.city | capfirst }}, </div>
               <div class="inline location-province">{{ location.province | capfirst }})</div>
            </div>
         
            <div class="pull-right">
               
               <!-- Delete button -->
               <form action="/location/{{ location.id }}" method="POST" class="inline">
                  {% csrf_token %}
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" class="delete-icon" value="">
               </form>
               
            </div>
            
            <div class="clearfix"></div>
         </li>
      {% endfor %}
   </ul>

{% else %}

   {% include "no-locations.html" %}

{% endif %}

   {# Popup modal for adding locations #}
   {% include "location-modal.html" %} 

</div>