<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Travel Time | Trips</title>
   {# Stylesheets #}

   {% load static %}
   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
   <!-- Open Sans Font -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
</head>
<body>
   
   <!--Overlay for modal-->
   <div id="page-overlay" class="hidden"></div>

   {# Components #}
   {% include "header.html" %}
   {% include "trip-list.html" %}

   {# JavaScript #}
    <script src="{% static 'js/travel-time.js' %}"></script>

</body>
</html>